body,
html {
    margin: 0;
}

a {
    text-decoration: none;
    color:rgb(34, 111, 199);
}

a:hover {
    text-decoration: underline;
}

/* GENERAL */
.center {
    text-align: center;
}

.mobile-only {
    display: none;
}

.responsive-padding {
    padding-right: 8rem;
    padding-left: 8rem;
}

.responsive-separator {
    border-right: 3px solid black;
}

.dark {
    background-color: #121212;
    color: white;
}

.dark a {
    color: rgb(57, 146, 247);
}
/* GENERAL */

/* NAV */
nav {
    height: 100px;
    width: 100%;

    background-color: #050a30;
}

.navbar-links {
    display: flex;
    align-items: center;

    height: 100%;
    width: 80%;

    padding-left: 10%;
    padding-right: 10%;

    margin: 0;
}

.navbar-link {
    display: flex;
    align-items: center;

    color: white;
    font-size: 1.2rem;

    height: 70%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin-right: 1%;
    border-radius: 6px;
}

.navbar-link:hover {
    background-color: #151d57;
    outline: 1px solid white;

    text-decoration: none;
}

.navbar-link.brand-logo {
    font-weight: bold;

    background-color: #151d57;

    border-radius: 0;
    height: 100%;
}

.navbar-link.brand-logo:hover {
    outline: none;
}

.navbar-links .right {
    margin-left: auto;
    display: flex;
}

.navbar-link img {
    height: 32px;
    width: 32px;
}

.navbar-link.img-link {
    margin-right: 1rem;
    padding: 0;
}

.navbar-link.img-link:hover {
    outline: none;
    background-color: #050a30;
}

/* NAV */

/* HEADER */
#header {
    width: 100%;
    height: 30vh;
    color: white;

    padding-top: 10rem;
}

#header .header-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30vh;
    z-index: -10;

    background-image: url(./img/circuits.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(120%);

    height: 100%;
}

#header .name {
    width: 100%;
    filter: blur(-5px);
}
/* HEADER */

/* GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid > .col {
    flex-grow: 1;
    overflow: hidden;

    padding: 1rem 0 1rem 0;
}

.grid > .col-4 {
    width: 25%;
}

.grid > .col-3 {
    width: 33%;
}

.grid > .col-2 {
    width: 50%;
}

.grid > .col-1 {
    width: 100%;
}


.grid > .col > .col-title {
    padding: 1rem;
}

.grid > .col > .col-title > h3 {
    margin: 0.5rem;
}

.grid > .col > .col-title > img {
    margin: 0.5rem;
}

.grid > .col > .col-title-dark {
    background-color: #121212;
    color: white;
}

.grid > .col > .col-title > h3 {
    margin-top: 0;
}

.grid > .col > .col-content {
    padding-top: 2rem;
    padding-bottom: 2rem;

    height: 100%;
}
/* GRID */

/* CARD */
.card {
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid #151d57;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    margin: 0 1rem 0 1rem;
}

.card.card-dark {
    border: 1px solid white;

    background-color: #252525;
}

.card .card-title {
    width: 100%;

    border-top: 1px solid black;
    margin: 0;

    padding: 1rem 0 1rem 0;
}

.card.card-dark .card-title {
    border-top: 1px solid white;
}

.card .card-links {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    text-align: center;

    padding: 0.6rem 0 0.6rem 0;
}

.card .card-links .card-link {
    text-transform: uppercase;

    font-weight: bold;
    width: 30%;
    flex-grow: 1;
}

.card .card-links .card-link:hover {
    text-decoration: underline;
}

.card .card-img {
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;
    width: 60%;
}

.card .card-img-medium {
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;
    width: 20%;
}

.card .card-img-small {
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;
    width: 10%;
}

.card .card-description {
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
    padding: 0 1rem 0 1rem;

    height: 100%;
}

.card.card-dark .card-description {
    color: rgb(180, 180, 180);
}
/* CARD */

/* MAIN */
#main .icon {
    width: 40px;
    height: 40px;
}

#main .icon-dark {
    filter: invert();
}
/* MAIN */

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    background-color: #050a30;
    color: white;

    padding-top: 1rem;
    align-items: flex-end;
}

footer p {
    width: 100%;
}

footer .footer-links {
    width: 100%;
}

footer .footer-links .footer-link {
    color: white;
    font-size: 1.2rem;

    margin-right: 1%;
    margin-left: 1%;
}

footer .footer-links .footer-link.img-link:hover {
    outline: none;
    text-decoration: none;
    background-color: #050a30;
}

footer .footer-links .footer-link.img-link img {
    height: 32px;
    width: 32px;
}
/* FOOTER */

/* RESPONSIVE */
@media (max-width: 1200px) {
    .grid .col-2 {
        width: 100%;
    }

    .grid .col-3 {
        width: 100%;
    }

    .grid .col-4 {
        width: 50%;
    }

    .responsive-separator {
        border-right: none;
    }

    #main hr {
        width: 100%;
    }

    .mobile-only {
        display: initial;
    }

    .responsive-padding {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .card .card-img {
        width: 80%;
    }

    .card .card-img-small {
        width: 20%;
    }

    .card .card-links .card-link {
        width: 100%;
        padding: 0.2rem 0 0.2rem 0;
    }
}
/* RESPONSIVE */